*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(bg-01.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 40px;
}
.head{
    width: 800px;
    margin: auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    background-color: rgb(83 13 252 / 8%);
    border-radius: 15px 15px 0px 0px;
}
.form{
    width: 800px;
    margin: auto;
    background-color: rgb(83 13 252 / 8%);
    border-radius: 0px 0px 15px 15px;
}
form{
    padding-top: 25px;

}
#name{
    width: 100%;
    height: 100px;
}
.name{
    margin-left: 25px;
    margin-top: 30px;
    width: 147px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}
.firstname{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.lastname{
    position: relative;
    left: 417px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.last-label{
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: 175px;
    top: -45px;
}

.email{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 480px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.first-label{ 
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: 207px;
    top: -42px;
}
.last-label{
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: 170px;
    top: -42px;
}
.number{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 255px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.option{
    position: relative;
    left: 200px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    outline: none;
    overflow: hidden;
}
.option option{
    font-size: 20px;
}
.r-label{
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: -102px;
    top: 1px;
}
.email-label{
    position: relative;
    color: #e5e5e5;
    text-transform: capitalize;
    font-size: 14px;
    left: -325px;
    top: 1px;
}
button{
    background-color: #e8161600;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2p solid #fa0808;
    padding: 14px 110px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    transition: 0.25px;
}
button:hover{
    background-color: #fc00da;
}